
<div class="modal-dialog text-center">
<h1>Sign in</h1>
<%= form_tag sessions_path do %>
<div class="form-group">
<%= text_field_tag :userid, nil, placeholder: 'Username' %>
</div>
<div class="form-group">
<%= password_field_tag :password, nil, placeholder: 'Password' %>
</div>
<%= button_tag( :class => "btn btn-primary") do %>
<i class="fas fa-sign-in-alt"></i> Sign In
<% end %>
<% end %>
</div>