<div class="container"> 
  <div class="txtfront">
  <h1 class="Ptserift size1">New Concept</h1>
  <p class="Fontawesome size3">English Education Center</p>
  </div>
  <div class = "daftar center"><%= link_to image_tag("ic/daftar.png", :size => '150x50'), muridsnew_path %></div>
<%= image_tag("imgfront.jpg", :alt => "", :class => "img_ft") %>
</div>

<div class="container"> 
<div class="visimisi">
<div class="left"><h2>Visi</h2>
<ol class="Fontawesome size5">
<li>Menjadi lembaga pendidikan Bahasa Inggris yang andal dan terpercaya yang dapat menjangkau seluruh lapisan masyarakat.</li>
<ol>
</div>
<div class="left"><h2>Misi</h2>
<ol class="Fontawesome size5">
<li>Turut berpastisipasi dalam mencerdaskan kehidupan bangsa khususnya dalam bidang pengajaran Bahasa Inggris sebagai sarana dalam penguasaan informasi, teknologi dan ilmu pegetahuan.</li>
<li>Menciptakan metode pengajaran yang mutakhir, aplikatif dan dapat mengakselerasi penguasaan Bahasa Inggris.</li>
<li>Menciptakan dukungan manajemen (Management support) yang profesional agar aktivitas pengajaran dapat berjalan secara efektif dan efesien.</li>
<li>Menciptakan lapangan kerja.</li>
<li>Menciptakan sumber daya manusia yang profesional melalui pelatihan dan pengembangan.</li>
<li>Mengembangkan jaringan usaha dan pemasaran agar pelayanan pendidikan dapat dinikmati oleh seluruh lapisan masyarakat Indonesia.</li>
</ol>
</div>
</div>
<%= image_tag("ic/newconcept.png", :alt => "", :class => "img_lg") %>
</div>
<div class="sejarah center"><h2>Sejarah</h2>
<p class="Fontawesome size4">New Concept English Griya Asri 2 Tambun – Bekasi merupakan bagian dari jejaring kursus Bahasa Inggris di Indonesia yang sudah puluhan tahun berpengalaman dalam bidang pengajaran Bahasa Inggris. New Concept English Education Centre (NCEEC) yang berdiri sejak 1983 merupakan induk kami selain saat ini sudah mempunyai lebih dari 250 cabang yang tersebar di seluruh Indonesia, yang dimiliki oleh Agustiono. Bagi kami, pengajaran Bahasa Inggris sudah mendarah daging sejak lama.</p>
</div>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title size4">Hubungi Kami</h5>
    <p class="card-text">Telp. 081211716723 | Email: ncgriyaasri2@gmail.com</p>
    <%= link_to 'Daftar', muridsnew_path, class: 'btn btn-primary'%>
  </div>
  </div>