<body class="jenisk">
<h4> Jenis Kursus :  <%= @jenis_kursu.jenis_kursus %> </h4>
<h5> Lama Belajar :  <%= @jenis_kursu.lama_belajar==1 ? '1 Bulan' :
						(@jenis_kursu.lama_belajar==2 ? '2 Bulan' :
						(@jenis_kursu.lama_belajar==3 ? '3 Bulan' :
						(@jenis_kursu.lama_belajar==4 ? '4 Bulan' :
						(@jenis_kursu.lama_belajar==5 ? '5 Bulan' :
						(@jenis_kursu.lama_belajar==6 ? '6 Bulan' :
						(@jenis_kursu.lama_belajar==7 ? '7 Bulan' :
						(@jenis_kursu.lama_belajar==8 ? '8 Bulan' :
						(@jenis_kursu.lama_belajar==9 ? '9 Bulan' :
						(@jenis_kursu.lama_belajar==10 ? '10 Bulan' :
						(@jenis_kursu.lama_belajar==11 ? '11 Bulan' :
						(@jenis_kursu.lama_belajar==12 ? '12 Bulan' : 'Kosong'))))))))))) %></h5>
<h5> Tarif        :  <%= @jenis_kursu.tarif %></h5>
<br>

<%= link_to 'kembali', jenis_kursus_path, {class: 'btn btn-default'} %>
</body>